
.bold {
  font-weight: bold;
}

.bold-color {
  font-weight: bold;
  font-size: large;
  color: darkred;
}

.bold-color-2 {
  font-weight: bold;
  color: royalblue;
}

hr {
  border: 1px solid silver;
}
