<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Sign up
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #signUpForm='ngForm' class="form">
        <ion-card-content>
            <p>Please, fill in this form to create an account.</p>
            <p>You will receive a confirmation letter at your email to activate your account.</p>
        </ion-card-content>
        <hr>
        <label><b>Type of user:</b></label>
        <div>
            <div>
                <input #clientRadio type="radio" name="type" value="client" checked> client
            </div>
            <div>
                <input #ownerRadio type="radio" name="type" value="owner"> owner
            </div>
        </div>
        <label><b>Login:</b></label>
        <ion-input
                [(ngModel)]="regForm.username"
                [ngStyle]="{border: usernameInp.invalid && usernameInp.dirty ? '1px solid red' : '1px solid green'}"
                #usernameInp='ngModel'
                required pattern="{{dataService.passLoginRegExp.source}}"
                placeholder="3-20 latin letters/numbers"
                size="25"
                type="text"
                name="username"
                autocomplete="off"></ion-input>
        <br>
        <label><b>Email:</b></label>
        <ion-input
                [(ngModel)]="regForm.email"
                [ngStyle]="{border: emailInp.invalid && emailInp.dirty? '1px solid red' : '1px solid green'}"
                #emailInp='ngModel'
                required pattern="{{dataService.emailRegExp.source}}"
                placeholder="email"
                size="25"
                type="text"
                name="email"
                autocomplete="off"></ion-input>
        <br>
        <label><b>Password:</b></label>
        <ion-input
                [(ngModel)]="regForm.password"
                [ngStyle]="{border: passwordInp.invalid && passwordInp.dirty? '1px solid red' : '1px solid green'}"
                #passwordInp='ngModel'
                required pattern="{{dataService.passLoginRegExp.source}}"
                placeholder="3-20 latin letters/numbers"
                size="25"
                type="password"
                name="password"></ion-input>
        <br>
        <ion-button expand="block"
                    [disabled]="signUpForm.invalid"
                    (click)="saveUser(clientRadio.checked, ownerRadio.checked)">Sign up
        </ion-button>
    </form>


</ion-content>
